.card{
    margin: 15px;
    display: flex;
    background-color: #333;
    color: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    border-radius: 15px;
}

.card img{
    border-radius: 15px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.card__text{
    block-size: 270px;
    overflow: auto;
    margin: 15px;
}

.card h4{
    margin-block-start: 0em;
}

.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 63px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}