.name{
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.name h6{
    font-size: 56px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 100px;
}

.name button{
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-right: 10px;
    color: #ffffff;
    border:none;
    background: grey;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    width: 100px;
    height: 40px;
}

.name button:hover{
    background: #414141;
    cursor: pointer;
}

.name button.active{
    background: red;
}

.name button.active:hover{
    background: rgb(136, 0, 0);
}

.panorama{
    width: 100%;
}

.card{
    margin: 15px;
    display: flex;
    background-color: #333;
    color: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    border-radius: 15px;
}

.card img{
    border-radius: 15px;
    width: 36%;
    height: 27%;
}

.card__text{
    overflow: auto;
    margin: 15px;
}

.card h4{
    font-size: 24px;
    margin-block: 0em;
}


