body{
    margin: 0px;
}

header{
    position: sticky;
    align-items: center;
    background-color: #333333;
    overflow: hidden;
    top: 0;
    width: 100%;
    box-shadow: inset 0px -8px 8px -8px #0e0e0e;
}
header a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
header a:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}
header a.active {
    background-color: #4CAF50;
    color: white;
}
.account{
    float: right;
}