<!doctype html>
<html lang="en">
<head>
    <script src="https://api-maps.yandex.ru/2.0-stable/?apikey=9a9e76e0-a2b2-4150-a38d-30b776ddd95e&load=package.standard&lang=ru-RU" type="text/javascript"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel ="stylesheet" href="{{ url_for('static', path='/css/header_block.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/citynum.css') }}">
    <style>
        html, body, #map {
            width: 100%; height: 100%; padding: 0; margin: 0;
        }
    </style>
    <title>Moscow</title>
</head>
<body>
    <header>
    <div class="menu">
      <a href="http://localhost:8000/pages/main" id="home">Home</a>
    </div>
    <div class="account" id="menuright">
    </div>
    </header> 
    <script src="{{url_for('static',path='js/header.js')}}" type="text/javascript"></script>
    
    <div class="name">
      <div id="left"></div>
      <h6>{{city.name}}</h6>
      <button type="button" id="favorite" class="noactive">
        <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.444 1.35396C11.6474 0.955692 10.6814 1.33507 10.3687 2.16892L7.807 9.00001L4 9.00001C2.34315 9.00001 1 10.3432 1 12V20C1 21.6569 2.34315 23 4 23H18.3737C19.7948 23 21.0208 22.003 21.3107 20.6119L22.9773 12.6119C23.3654 10.7489 21.9433 9.00001 20.0404 9.00001H14.8874L15.6259 6.7846C16.2554 4.89615 15.4005 2.8322 13.62 1.94198L12.444 1.35396ZM9.67966 9.70225L12.0463 3.39119L12.7256 3.73083C13.6158 4.17595 14.0433 5.20792 13.7285 6.15215L12.9901 8.36755C12.5584 9.66261 13.5223 11 14.8874 11H20.0404C20.6747 11 21.1487 11.583 21.0194 12.204L20.8535 13H17C16.4477 13 16 13.4477 16 14C16 14.5523 16.4477 15 17 15H20.4369L20.0202 17H17C16.4477 17 16 17.4477 16 18C16 18.5523 16.4477 19 17 19H19.6035L19.3527 20.204C19.2561 20.6677 18.8474 21 18.3737 21H8V10.9907C8.75416 10.9179 9.40973 10.4221 9.67966 9.70225ZM6 11H4C3.44772 11 3 11.4477 3 12V20C3 20.5523 3.44772 21 4 21H6V11Z" fill="#ffffff"/>
        </svg>
        <div id="like">{{fav_count}}</div>
        </button>
    </div>
    
    <img class="panorama" src="{{url_for('static',path='images/'+city.big_photo_id|string+'.jpg')}}">

    <script>
      const buttonf = document.getElementById('favorite');
      function fetchData_classattractions() {
      return fetch('http://localhost:8000/favourites_check_attraction?city_id={{city.id}}', {post: 'GET',credentials: 'include',})
      .then((response) => response.json())
      .then(data => {
        if(data){
          buttonf.setAttribute('class', 'noactive');
        }else{
          buttonf.setAttribute('class', 'active');
        }
      })
      .catch((e) => {
      console.log(e)
        })}
      fetchData_classattractions()
  
    const Like = document.getElementById('like');
    var ws = new WebSocket(`ws://localhost:8000/cities/ws/{{city.id}}`);
    
    buttonf.addEventListener('click', async function(){
        if(buttonf.getAttribute('class') == 'active'){
        const url = "http://localhost:8000/favourites?city_id={{city.id}}";
        let response1 = await  fetch(url, {method: 'POST',
                  headers: {'Content-Type': 'application/json'}, 
                  credentials: 'include',}
        )
        if (!response1.ok) {
          window.location.href = "/pages/login"
        }else{
          ws.send('1')
          buttonf.setAttribute('class', 'noactive');
        }
      }else{
        const url = "http://localhost:8000/favourites_delete?city_id={{city.id}}";
        let response1 = await  fetch(url, {method: 'POST',
                  headers: {'Content-Type': 'application/json'}, 
                  credentials: 'include',}
        )
        if (!response1.ok) {
          window.location.href = "/pages/login"
        }else{
          ws.send('1')
          buttonf.setAttribute('class', 'active');
        }
      }
      } )
      
      ws.onmessage = function(event) {
      Like.innerText = event.data;
      };
  </script>

    <div id="json-data"></div>

    <script>
      function fetchData_attractions() {
      return fetch('http://localhost:8000/attractions?city_id={{city.id}}', {post: 'GET',})
      .then((response) => response.json())
      .then(data => {
        createList_attractions(data);
      })
      .catch((e) => {
      console.log(e)
      })}

      function createList_attractions(data) {
        const preElement = document.getElementById('json-data');
        ymaps.ready(function () {
        var myMap = new ymaps.Map('map', {
            center: ['{{city.longitude}}', '{{city.latitude}}'],
            zoom: 12
        });
        for (let i = 0; i < data.length; i++) {
        var Placemark = new ymaps.Placemark([data[i].longitude, data[i].latitude],{iconContent: data[i].name},{preset: 'twirl#blueStretchyIcon'});
        myMap.geoObjects.add(Placemark);
        }
        myMap.controls.add('zoomControl');
        myMap.controls.add('typeSelector');
        });
        for (let i = 0; i < data.length; i++) {
          var card = document.createElement('div')
          card.setAttribute('class', 'card');
          preElement.appendChild(card);
          var img = document.createElement('img')
          var str  = "{{url_for('static',path='images/')}}"
          img.setAttribute('src', str + data[i].image_id+ '.jpg');
          card.appendChild(img);
          var card__text = document.createElement('div')
          card__text.setAttribute('class', 'card__text');
          card.appendChild(card__text);
          var h4 = document.createElement('h4')
          h4.innerText = data[i].name;
          card__text.appendChild(h4);
          var addres = document.createElement('h3')
          addres.setAttribute('class', 'addres');
          addres.innerText = 'Addres: ' + data[i].address;
          card__text.appendChild(addres);
          var p = document.createElement('p')
          p.innerText = data[i].description;
          card__text.appendChild(p);
      }
    }
      fetchData_attractions()
    </script>


    <div id="map"></div>
</body>
</html>