<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel ="stylesheet" href="{{ url_for('static', path='/css/header_block.css') }}">
    <link rel ="stylesheet" href="{{ url_for('static', path='/css/login.css') }}">
    <title>Login</title>
</head>
<body>

    <header>
        <div class="menu">
          <a href="http://localhost:8000/pages/main">Home</a>
          <a>Hotels</a>
          <a>Events</a>
        </div>
        <div class="account">
          <a href="http://localhost:8000/pages/login" class="active">Login</a>
          <a href="http://localhost:8000/pages/register">Register</a>
        </div>
    </header>

    <div class="container">
        <div class="wrapper">
          <div class="title"><span>Login Form</span></div>
          <form action="#">
            <div class="row">
              <input id="email" type="email" placeholder="Enter Email" name="email" required>
            </div>
            <div class="row">
              <input id="psw" type="password" placeholder="Enter Password" name="psw" required>
            </div>
            <div class="row button">
              <input type="submit" value="Login">
            </div>
            <div class="signup-link">Don't have an account? <a href="http://localhost:8000/pages/register">Register</a></div>
          </form>
        </div>
    </div>
    
</body>
</html>