<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel ="stylesheet" href="{{ url_for('static', path='/css/header_block.css') }}">
    <link rel ="stylesheet" href="{{ url_for('static', path='/css/login.css') }}">
    <title>Login</title>
</head>
<body>

    <header>
        <div class="menu">
          <a href="http://localhost:8000/pages/main">Home</a>
          <a id="youfavorite">Favorite</a>
        </div>
        <div class="account">
          <a href="http://localhost:8000/pages/login" class="active">Login</a>
          <a href="http://localhost:8000/pages/register">Register</a>
        </div>
    </header>

    <div class="container">
        <div class="wrapper">
          <div class="title"><span>Login Form</span></div>
          <form id ="wrapper" action="#">
            <div class="row">
              <input id="email" placeholder="Enter Email" name="email">
              <span class="error" id ="emailError"></span>
            </div>
            <div class="row">
              <input id="psw" type="password" placeholder="Enter Password" name="psw">
              <span class="error" id ="pswError"></span>
            </div>
            <div class="row button">
              <input type="submit" value="Login">
            </div>
            <div class="signup-link">Don't have an account? <a href="http://localhost:8000/pages/register">Register</a></div>
          </form>
        </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
      const wrapper = document.getElementById('wrapper');
  
      wrapper.addEventListener('submit', function(event) {
          event.preventDefault();
          const email = document.getElementById('email').value;
          const password = document.getElementById('psw').value;
  
          // Здесь должна быть логика отправки данных на сервер для авторизации
          console.log(`Email: ${email}, Password: ${password}`);
      });
  });
  
  
  document.getElementById('wrapper').addEventListener('submit', function(event) {
      const wrapper = document.getElementById('wrapper');
      event.preventDefault();
  
      var emailError = document.getElementById('emailError');
      var passwordError = document.getElementById('pswError');

      var flag = true;
      var email = document.getElementById('email').value;
      var password = document.getElementById('psw').value;
  
      if (email === '') {
        flag = false;
        emailError.textContent = 'Email пользователя не может быть пустым';
      } else if (!validateEmail(email)) {
        emailError.textContent = 'Некорректный email';
        flag = false;
      } else emailError.textContent = '';
  
      if (password === '') {
        passwordError.textContent = 'Пароль не может быть пустым';
        flag = false;
      } else if (!validatePassword(password)) {
        passwordError.textContent = 'Пароль должен содержать не менее 8 символов, буквы и цифры';
        flag = false;
      } else passwordError.textContent = '';
      
      if(flag === true){
        wrapper.reset();
      }

      console.log(`Email: ${email}, Password: ${password}`);
      const url = "http://localhost:8000/auth/login";
      fetch(url, {
                method: 'POST',
                headers: {'Content-Type': 'application/json'}, 
                body: JSON.stringify({email: email, hash_password: password}),
            }).then(response => {
                if (response.status === 200) {
                    window.location.href = "/pages/main"
                } else {
                  emailError.textContent = "Неверный email или пароль";
                }
            });
      });
  
      function validateEmail(email) {
          var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return re.test(String(email).toLowerCase());
      }
  
      function validatePassword(password) {
          var passwordRegex = /^(?=.*\d)(?=.*[a-zA-Z]).{8,}$/;
          return passwordRegex.test(password);
      }
  </script>
  <script>
    const buttonfp = document.getElementById('youfavorite');
    buttonfp.addEventListener('click', async function(){
        const url = "http://localhost:8000/auth/me";
        let response = await  fetch(url, {
          method: 'GET',
          credentials: 'include',}
        )
        if (response.ok) {
        let data = await  response.json()
        console.log(data['id'])
        const url1 = "/pages/" + data['id']
        window.location.replace(url1)
        }else{
          window.location.href = "/pages/login"
        }
      } )
  </script>
</body>
</html>