<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/png" href="{{url_for('static',path='images/favicon.png')}}">
  <link rel="stylesheet" href="{{ url_for('static', path='/css/header_block.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='/css/cardcity.css') }}">
  <title>Main</title>
</head>

<body>

  <header>
    <div class="menu">
      <a href="http://localhost:8000/pages/main" class="active">Home</a>
      <a>Page 2</a>
      <a>Page 3</a>
    </div>
    <div class="account">
      <a href="http://localhost:8000/pages/login">Login</a>
      <a href="http://localhost:8000/pages/register">Register</a>
    </div>
</header>


  <main>
    <div class="sidenav">
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#City1">City 1</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </div>
    <div class="card">
      <img src="https://lorempic.com/640/480" width="400" height="300" alt="city">
      <div class="card__text">
        <h4>City Name</h4>
        <p>description of the city <br/> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, consequatur illo. Aperiam, placeat. Minus suscipit iure natus officia repellat temporibus, reprehenderit quisquam repudiandae itaque aspernatur cupiditate vel quasi eaque ratione facilis expedita reiciendis, voluptatum ipsa hic voluptate? Mollitia placeat omnis numquam, beatae cum eligendi nihil hic tenetur natus repudiandae eos?</p>
      </div>
    </div>
    <div class="card">
      <img src="https://lorempic.com/640/480" width="400" height="300" alt="city">
      <div class="card__text">
        <h4>City Name</h4>
        <p>description of the city <br/> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, consequatur illo. Aperiam, placeat. Minus suscipit iure natus officia repellat temporibus, reprehenderit quisquam repudiandae itaque aspernatur cupiditate vel quasi eaque ratione facilis expedita reiciendis, voluptatum ipsa hic voluptate? Mollitia placeat omnis numquam, beatae cum eligendi nihil hic tenetur natus repudiandae eos?</p>
      </div>
    </div>
    <div class="card">
      <img src="https://lorempic.com/640/480" width="400" height="300" alt="city">
      <div class="card__text">
        <h4>City Name</h4>
        <p>description of the city <br/> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, consequatur illo. Aperiam, placeat. Minus suscipit iure natus officia repellat temporibus, reprehenderit quisquam repudiandae itaque aspernatur cupiditate vel quasi eaque ratione facilis expedita reiciendis, voluptatum ipsa hic voluptate? Mollitia placeat omnis numquam, beatae cum eligendi nihil hic tenetur natus repudiandae eos?</p>
      </div>
    </div>
    <div class="card">
      <img src="https://lorempic.com/640/480" width="400" height="300" alt="city">
      <div class="card__text">
        <h4>City Name</h4>
        <p>description of the city <br/> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, consequatur illo. Aperiam, placeat. Minus suscipit iure natus officia repellat temporibus, reprehenderit quisquam repudiandae itaque aspernatur cupiditate vel quasi eaque ratione facilis expedita reiciendis, voluptatum ipsa hic voluptate? Mollitia placeat omnis numquam, beatae cum eligendi nihil hic tenetur natus repudiandae eos?</p>
      </div>
    </div>
    <div class="card">
      <img src="https://lorempic.com/640/480" width="400" height="300" alt="city">
      <div class="card__text">
        <h4 id="City5">City Name</h4>
        <p>description of the city <br/> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, consequatur illo. Aperiam, placeat. Minus suscipit iure natus officia repellat temporibus, reprehenderit quisquam repudiandae itaque aspernatur cupiditate vel quasi eaque ratione facilis expedita reiciendis, voluptatum ipsa hic voluptate? Mollitia placeat omnis numquam, beatae cum eligendi nihil hic tenetur natus repudiandae eos?</p>
      </div>
    </div>
  </main>

  <footer>
  </footer>

<!--<img src="{{url_for('static',path='images/hello.jpg')}}"-->
</body>
</html>