<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/png" href="{{url_for('static',path='images/favicon.png')}}">
  <link rel="stylesheet" href="{{ url_for('static', path='/css/header_block.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='/css/cardcity.css') }}">
  <title>Main</title>
</head>

<body>

  <header>
    <div class="menu">
      <a href="http://localhost:8000/pages/main" class="active">Home</a>
      <a id="youfavorite">Favorite</a>
    </div>
    <div class="account">
      <a href="http://localhost:8000/pages/login">Login</a>
      <a href="http://localhost:8000/pages/register">Register</a>
    </div>
  </header>


  <main>
    <div class="sidenav">
      {% for city in cities %}
      <a href=#{{city.name}}>{{city.name}}</a>
      {% endfor %}
    </div>
    <div class="card">
      <img src="{{url_for('static',path='images/2.jpg')}}" width="400" height="300" alt="city">
      <div class="card__text">
        <a href="http://localhost:8000/pages/city1" style="color: white"><h4 id="City1">Moscow</h4></a>
        <p>description of the city Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, consequatur illo. Aperiam, placeat. Minus suscipit iure natus officia repellat temporibus, reprehenderit quisquam repudiandae itaque aspernatur cupiditate vel quasi eaque ratione facilis expedita reiciendis, voluptatum ipsa hic voluptate? Mollitia placeat omnis numquam, beatae cum eligendi nihil hic tenetur natus repudiandae eos?</p>
      </div>
    </div>
    <div>
      {% for city in cities %}
      <div class="card">
        <img src={{url_for('static',path='images/'+city.image_id|string+'.jpg')}} width="400" height="300" alt="city">
        <div class="card__text">
          <a href="http://localhost:8000/pages/{{city.name}}" style="color: white"><h4 id={{city.name}}>{{city.name}}</h4></a>
          <p>{{city.description}} <br/> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, consequatur illo. Aperiam, placeat. Minus suscipit iure natus officia repellat temporibus, reprehenderit quisquam repudiandae itaque aspernatur cupiditate vel quasi eaque ratione facilis expedita reiciendis, voluptatum ipsa hic voluptate? Mollitia placeat omnis numquam, beatae cum eligendi nihil hic tenetur natus repudiandae eos?</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="card">
      <img src="https://lorempic.com/640/480" width="400" height="300" alt="city">
      <div class="card__text">
        <h4 id="City2">City 2</h4>
        <p>description of the city <br/> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, consequatur illo. Aperiam, placeat. Minus suscipit iure natus officia repellat temporibus, reprehenderit quisquam repudiandae itaque aspernatur cupiditate vel quasi eaque ratione facilis expedita reiciendis, voluptatum ipsa hic voluptate? Mollitia placeat omnis numquam, beatae cum eligendi nihil hic tenetur natus repudiandae eos?</p>
      </div>
    </div>
    <div class="card">
      <img src="https://lorempic.com/640/480" width="32%" height="24%" alt="city">
      <div class="card__text">
        <h4 id="City3">City 3</h4>
        <p>description of the city <br/> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, consequatur illo. Aperiam, placeat. Minus suscipit iure natus officia repellat temporibus, reprehenderit quisquam repudiandae itaque aspernatur cupiditate vel quasi eaque ratione facilis expedita reiciendis, voluptatum ipsa hic voluptate? Mollitia placeat omnis numquam, beatae cum eligendi nihil hic tenetur natus repudiandae eos?</p>
      </div>
    </div>
    <div class="card">
      <img src="https://lorempic.com/640/480" width="400" height="300" alt="city">
      <div class="card__text">
        <h4 id="City4">City 4</h4>
        <p>description of the city <br/> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, consequatur illo. Aperiam, placeat. Minus suscipit iure natus officia repellat temporibus, reprehenderit quisquam repudiandae itaque aspernatur cupiditate vel quasi eaque ratione facilis expedita reiciendis, voluptatum ipsa hic voluptate? Mollitia placeat omnis numquam, beatae cum eligendi nihil hic tenetur natus repudiandae eos?</p>
      </div>
    </div>
    <div class="card">
      <img src="https://lorempic.com/640/480" width="400" height="300" alt="city">
      <div class="card__text">
        <h4 id="City5">City 5</h4>
        <p>description of the city <br/> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, consequatur illo. Aperiam, placeat. Minus suscipit iure natus officia repellat temporibus, reprehenderit quisquam repudiandae itaque aspernatur cupiditate vel quasi eaque ratione facilis expedita reiciendis, voluptatum ipsa hic voluptate? Mollitia placeat omnis numquam, beatae cum eligendi nihil hic tenetur natus repudiandae eos?</p>
      </div>
    </div>
  </main>

  <footer>
  </footer>

<!--<img src="{{url_for('static',path='images/hello.jpg')}}"-->
</body>
</html>
<script>
  const buttonfp = document.getElementById('youfavorite');
  buttonfp.addEventListener('click', async function(){
      const url = "http://localhost:8000/auth/me";
      let response = await  fetch(url, {
        method: 'GET',
        credentials: 'include',}
      )
      if (response.ok) {
      let data = await  response.json()
      console.log(data['id'])
      const url1 = "/pages/" + data['id']
      window.location.replace(url1)
      }else{
        window.location.href = "/pages/login"
      }
    } )
</script>