<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
</head>
<body>
    <h1>This is our main page</h1>
    <img src="https://i.pinimg.com/736x/9d/79/c2/9d79c234b34155c77c226e9151977356.jpg"
         width="200"
         height="200">
    <p>Hello, everybody</p>
    <a href="http://localhost:8000/pages/login">
        Login
    </a>
</body>
</html>