<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel ="stylesheet" href="{{ url_for('static', path='/css/header_block.css') }}">
    <link rel ="stylesheet" href="{{ url_for('static', path='/css/login.css') }}">
    <title>Register</title>
</head>
<body>
  <header>
    <div class="menu">
      <a href="http://localhost:8000/pages/main">Home</a>
      <a>Page 2</a>
      <a>Page 3</a>
    </div>
    <div class="account">
      <a href="http://localhost:8000/pages/login">Login</a>
      <a href="http://localhost:8000/pages/register" class="active">Register</a>
    </div>
  </header>

    <div class="container">
        <div class="wrapper" id = "wrapper">
          <div class="title"><span>Register Form</span></div>
          <form class='formWithValidation' action="#">
            <div class="row">
              <input id="email" type = "text" placeholder="Enter Email" name="email">
            </div>
            <div class="row">
              <input id="psw" type = "text" placeholder="Enter Password" name="psw">
            </div>
            <div class="row">
                <input id="psw-repeat" type = "text" placeholder="Repeat Password" name="psw-repeat">
              </div>
            <div class="row button">
              <input type="submit" value="Register">
            </div>
            <div class="signup-link">Have an account? <a href="http://localhost:8000/pages/login">Login</a></div>
          </form>
        </div>
    </div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const wrapper = document.getElementById('wrapper');

    wrapper.addEventListener('submit', function(event) {
        event.preventDefault();
        const email = document.getElementById('email').value;
        const password = document.getElementById('psw').value;
        const passwordRepeat = document.getElementById('psw-repeat').value;

        // Здесь должна быть логика отправки данных на сервер для авторизации
        console.log(`Email: ${email}, Password: ${password}`);
    });
});


function openNewPage() {
  window.open("https://vk.com", "_blank");
}

document.getElementById('wrapper').addEventListener('submit', function(event) {
    event.preventDefault();

    var email = document.getElementById('email').value;
    var password = document.getElementById('psw').value;
    var passwordRepeat = document.getElementById('psw-repeat').value;

    if (email === '') {
        alert('Email не может быть пустым');
    } else if (!validateEmail(email)) {
        alert('Некорректный email');
    }

    if (password === '') {
        alert('Пароль не может быть пустым');
    } else if (!validatePassword(password)) {
        alert('Пароль должен содержать не менее 8 символов, буквы и цифры');
    }

    if (passwordRepeat !== password) {
        alert('Пароль должен повторяться');
    }

    });

    function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    }

    function validatePassword(password) {
        var passwordRegex = /^(?=.*\d)(?=.*[a-zA-Z]).{8,}$/;
        return passwordRegex.test(password);
    }
</script>
</body>
</html>